<% render 'articles/shared/contextlinks' %>
<% if Article.none? %>
  <h1>There are no articles in the website database.</h1>
<% else %>
  <div class="thumbnail primary">
    <%= image_tag Article.last.cover.url %>
    <div class="caption">
      <h3><%= Article.last.title %></h3>
      <p><%= Article.last.content.truncate(25) %></p>
      <p><%= link_to 'Lees meer', article_path(Article.last), class: 'btn btn-primary' %></p>
    </div>
  </div>
  <div class = "paddedcontainer-medium">
    <div class="row">
      <% @article.reverse_each do |carticle| %>
        <% unless carticle == Article.last %>
          <div class="col-sm-12 col-md-6">
            
            <div class="thumbnail">
              <%= image_tag carticle.cover.url %>
              <div class="caption">
                <h3><%= carticle.title %></h3>
                <p><%= carticle.content.truncate(25) %></p>
                <p><%= link_to 'Lees meer', article_path(carticle.id), class: 'btn btn-primary' %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
