<% content_for :combomenu do %>
  <% if can? :new, :band %>
    <li class="nav-item"><%= link_to 'Nieuwe combo', new_combo_path, class: 'sub-nav-link' %></li>
  <% end %>
  <li class="nav-item"><%= link_to 'Boeken', combos_booking_path, class: 'sub-nav-link' %></li>
<% end %>
<div class="jumbotron">
  <h1>Combo's</h1>
  <p>Groovercombo's zijn de officiele vereniging's bands van Groover. Deze bands kunnen worden
  ingehuurd voor feesten, evenementen, of andere aangelegenheden.</p>
  <a href="booking.html">Boeken</a>
</div>
<% if Combo.none? %>
  <h1>There are no combo's in the website database.</h1>
<% else %>
  <div class = "paddedcontainer-medium">
    <div class="row">
      <% @combo.each do |ccombo| %>
        <div class="col-sm-6 col-md-3">
          <div class="comboblock">
            <%= link_to(combo_path(ccombo.id)) do %>
            <div class="comboblockoverlay"></div>
            <%= image_tag ccombo.cover.url %>
            <div class="combotext">
              <h3><%= ccombo.name%></h3>
              <p><%= ccombo.short_text %></p>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
