<% content_for :combomenu do %>
  <% if can? :new, :band %>
    <li class="nav-item"><%= link_to 'Nieuwe combo', new_combo_path, class: 'sub-nav-link' %></li>
  <% end %>
  <% if can? :edit, :band %>
    <li class="nav-item"><%= link_to 'Combo aanpassen', edit_combo_path(@combo.id), class: 'sub-nav-link' %></li>
  <% end %>
  <li class="nav-item"><%= link_to 'Boeken', '#', class: 'sub-nav-link' %></li>
  <li class="nav-item"><%= link_to 'Terug naar overzicht', combos_path, class: 'sub-nav-link' %></li>
<% end %>
<div class="thumbnail">
  <% if @combo.tile.present? %>
    <%= image_tag @combo.tile.url %>
  <% else %>
    <%= image_tag @combo.cover.url %>
  <% end %>
  <h2 class = "withspacing"><%= @combo.name %></h2>
</div>
<div class = "paddedcontainer-small">
  <div class="col-md-8">
    <p style="padding-left: 20px; padding-right: 20px;"><%= @combo.description.html_safe %></p>
  </div>
  <div class = "col-md-4">
    <% if @combo.music_embed.present? %>
      <div class="combosidebar">
        <%= @combo.music_embed.html_safe %>
        <script type="text/javascript">
        var iframeElement   = document.querySelector('iframe');
        var iframeElementID = iframeElement.id;
        var widget1         = SC.Widget(iframeElement);
        var widget2         = SC.Widget(iframeElementID);
        </script>
      </div>
    <% end %>
    <% if @combo.facebook_uid.present? %>
      <div class="combosidebar">
        <h3>Facebook</h3>
      </div>
    <% end %>
    <% if @combo.twitter_uid.present? %>
      <div class="combosidebar">
        <h3>Twitter</h3>
      </div>
    <% end %>
  </div>
</div>
